<app-filter-header
 (filterEvent)="filterChange($event)" 
 [hotelMinValue]="hotelMinValue"
 [hotelMaxValue]="hotelMaxValue" 
 [minReviewRating]="minReviewRating" 
 [maxReviewRating]="maxReviewRating" 
 *ngIf="isParentLoaded">
</app-filter-header>

<div class="container-fluid list-body">
  <ul class="row " *ngFor="let hotel of filteredHotels;">

    <div class="col-sm-2">
      <img [src]="hotel.photo" class="img-thumbnail image-style">
    </div>
    <div class="col-sm-10">
      <div class="col-sm-12">
        <span class="hotel-name"> {{hotel.name}}</span>
      </div>
      <div class="col-sm-12">
        <ngb-rating [rate]="hotel.stars" class="star"></ngb-rating>
      </div>
      <div class="col-sm-12">
          <span >Rating: {{hotel.rating}}</span>
        </div>
      <div class="col-sm-12">
          <span class="hotel-price">{{hotel.price| currency:'USD'}}</span>
      </div>
      <div class="col-sm-12">
          <span class="hotel-address">{{hotel.address}}</span>
    
      </div>

    </div>


  </ul>
</div>