.filterbar {
  background-color: silver;
  top: 0;
  margin-bottom: 85px;
  padding-left: 0px;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #f1f1f1;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */

}

.filter-group{
   
    border: 1px solid #ddd;
    min-height: 97px;
    padding: 14px;
    margin: 5px;
}

.fa-star, .sr-only{
  color: gold;
}

.btn-primary{
  margin: 5px;
  width: 97%;

}
