<div class="filterbar">

    
  <div class="">
      <div class="filter-group form-group">
          <label>Hotel Name</label>
        <input type="text" (input)="nameSearch($event.target.value)" [(ngModel)]="nameValue" class="form-control">
      </div>
      <div class="filter-group">
      
          <label>Star rating</label>
           <div *ngFor="let starNumber of starCount">
            <label>
            <input class="icon-checkbox" type="checkbox" (change)="starClick(starNumber.value)" [(ngModel)]="starNumber.check"/>
            <span class="fa fa-star" *ngFor="let starCount of [].constructor(starNumber.value)"></span>
          </label>
           </div>
      </div>
      <div class="filter-group">
          <label>Price</label>
              <ng5-slider 
              [(value)]="hotelMinValue" 
              [(highValue)]="hotelMaxValue" 
              [options]="priceOptions"
              (userChangeEnd)="userChangePrice($event)">
            </ng5-slider>
      </div>
      <div class="filter-group">
          <label>Review Rating</label>
              <ng5-slider 
              [(value)]="minReviewRating" 
              [(highValue)]="maxReviewRating" 
              [options]="ratingOptions"
              (userChangeEnd)="userChangeRating($event)">
            </ng5-slider>
      </div>
      <div class="filter-group">
          <label>Sort</label><br/>
           <select name="sorting" (change)="sortingSelect($event.target.value)">
              <option *ngFor="let sorting of sortItems;let i=index" [value]="sorting.value">
                  {{ sorting.description }}
              </option>
           </select>
      </div>
      <div class="">
          <button type="button" class="btn btn-primary" (click)="resetFilters()">Reset Filters</button>
      </div>
     
    </div>

</div>